fastapi
uvicorn
sqlalchemy
faiss-cpu
numexpr
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-experimental==0.0.65
duckduckgo-search
langchain-ollama
python-multipart
SpeechRecognition
pypdf
langchain-google-genai
google-generativeai
python-dotenv
slowapi
python-jose[cryptography]
passlib[bcrypt]

python-multipart
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'