fastapi
uvicorn
sqlalchemy
python-multipart
pypdf
python-dotenv
slowapi
python-jose[cryptography]
passlib[bcrypt]
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
requests
numexpr
faster-whisper
langchain
langchain-community
langchain-text-splitters
beautifulsoup4
faiss-cpu
sentence-transformers
langchain-huggingface
