fastapi
uvicorn
sqlalchemy
faiss-cpu
langchain
langchain-ollama
langchain-community
python-multipart
SpeechRecognition
pypdf
langchain-google-genai
google-generativeai
python-dotenv
slowapi
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
